/* Stylesheet */

/* Set all box sizing elements to border*/
html {
    box-sizing: border;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Set specificity of box sizing inheritance */
*, *:before, *:after {
    box-sizing: inherit;
    font: inherit;
}


a {
    text-decoration: none;
    color: white;
}

img {
    max-height: 100%;
    max-width: 100%;
}

/* Default flex container definition*/
.flex-container {
    display: flex;
}

/* Flex container affecting child div elements */
.flex-container, div, span{ 
    flex: 1;
    background-color: rgb(255, 255, 255);
    border: 2px rgb(255, 0, 0) dotted; /* Placeholder border showing all flex container and div borders */ 
}

/* top header class affects child text */
.responsive-header-tier1 {
    flex: 1;
    height: 35px;
    color: rgb(255, 255, 255);
}

/* top left contact us section */
.contact-us {
    flex: 1;
    align-items: center;
    justify-content: start;
    background-color: rgb(0, 0, 0);
    padding-left: 10px;
}

/* top right sign in section */
.sign-in {
    flex: 1;
    align-items: center;
    justify-content: end;
    background-color: rgb(0, 0, 0);
    padding-right: 10px;
}

/* 2nd header container */
.responsive-header-tier2 {
    background-color: white;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 0px;
}

/* 2nd header logo */
.responsive-header-tier2-logo {
    flex: 1;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/* Search bar container */
.search-bar-div {
    flex: 2 1 auto;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    justify-content: center;
}

/* Search bar parameters */
.search-bar {
    height: 35px;
    width: 250px;
}

.responsive-delivery-selector {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

/* Delivery country section */
.delivery-country {
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

/* Country being delivered to image */
.country-logo {
    float: right;
    height: 30px;
    width: auto;
    padding-left: 5px;
}

/* Responsive header tier 3 class (categories/site nav etc) */
.responsive-header-tier3 {
    background-color: #252525;
    height: 75px;
}

/* Responsive top menu class */
.responsive-menu {
    flex: 1;
    align-items: center;
    background-color: #252525;
    padding-left: 10%;
    padding-right: 10%;
}

/* Menu button */
.menu-nav-link {
    flex: 1;
    height: 75px;
    align-items: center;
    justify-content: center;
    background-color: #252525;
}

/* main article container */
.front-article-container {
    flex: 1;
    max-height: 100%;
    max-width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #252525;
}

/* main article child container */
.front-article-border {
    flex: 1;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(51, 51, 51);

}

/* main article img */
.front-article-img {

}

/* main article description */
.front-article-description {
    flex: 1;
    height: 50px;
    background-color: #252525;
}

.front-article-description-container {
    padding-left: 15%;
    padding-right: 15%;
    background-color: #252525;
}

.front-article-description-border {
    background-color: rgb(14, 14, 14);
}
